<div class="mask" *ngIf="mask">
  <div class="center">
    <form [formGroup]="favourDetailForm" (ngSubmit)="submit()">
      <fieldset>
        <legend>好感度记录ID</legend>
        <input type="text" placeholder="禁止输入" formControlName="UserFavourId">
        <div *ngIf="formErrors.UserFavourId" class="help help-block">{{formErrors.UserFavourId}}</div>
      </fieldset>
      <fieldset>
        <legend>用户</legend>
        <select formControlName="UserId" required>
          <option *ngFor="let u of users" [value]="u.UserId">{{u.UserName}}</option>
        </select>
        <div *ngIf="formErrors.UserId" class="help help-block">{{formErrors.UserId}}</div>
      </fieldset>
      <fieldset>
        <legend>好感度值</legend>
        <input type="number" placeholder="请输入 好感度值" formControlName="UserFavourValue" required>
        <div *ngIf="formErrors.UserFavourValue" class="help help-block">{{formErrors.UserFavourValue}}</div>
      </fieldset>
      <div class="buttons">
        <input type="submit" [disabled]="loading" [value]="submitText">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <a class="other-button" (click)="cancel()">取消</a>
      </div>
    </form>
  </div>
</div>
