<div class="mask" *ngIf="mask">
  <div class="center">
    <form [formGroup]="favourDetailForm" (ngSubmit)="submit()">
      <fieldset>
        <legend>好感度规则ID</legend>
        <input type="text" placeholder="禁止输入" formControlName="UserFavourRuleId">
        <div *ngIf="formErrors.UserFavourRuleId" class="help help-block">{{formErrors.UserFavourRuleId}}</div>
      </fieldset>
      <fieldset>
        <legend>好感度规则模式</legend>
        <input type="text" placeholder="请输入 好感度规则模式" formControlName="UserFavourRulePattern">
        <div *ngIf="formErrors.UserFavourRulePattern" class="help help-block">{{formErrors.UserFavourRulePattern}}</div>
      </fieldset>
      <fieldset>
        <legend>增加值</legend>
        <input type="number" placeholder="请输入 增加值" formControlName="UserFavourRuleScore" required>
        <div *ngIf="formErrors.UserFavourRuleScore" class="help help-block">{{formErrors.UserFavourRuleScore}}</div>
      </fieldset>
      <fieldset>
        <legend>次数上限</legend>
        <input type="number" placeholder="请输入 次数上限" formControlName="UserFavourRuleLimit" required>
        <div *ngIf="formErrors.UserFavourRuleLimit" class="help help-block">{{formErrors.UserFavourRuleLimit}}</div>
      </fieldset>
      <div class="buttons">
        <input type="submit" [disabled]="loading" [value]="submitText">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <a class="other-button" (click)="cancel()">取消</a>
      </div>
    </form>
  </div>
</div>
