<h3 (click)="goToMakeVideo()">制作视频</h3>

<div class="pager-wrapper handle">
  <div class="flip-btn" [class.flip]="fliped" (click)="flip()">{{flipText}}</div>
  <div></div>
  <div class="btn" (click)=goToPage(1)>|&lt;</div>
  <div class="btn" (click)="goToPage(page - 1)">&lt;</div>
  <div class="btn" (click)="goToPage(page + 1)">&gt;</div>
  <div class="btn" (click)=goToLastPage()>&gt;|</div>
</div>

<div class="photos-wrapper" #wrapper>
  <app-one-album-photo *ngFor="let photo of photos;let idx=index" (onGallery)="onGallery(idx)" (onChange)="onChange($event, photo)"
    [bind]="albumId" [data]="photo" [mode]="fliped" [database]="database"></app-one-album-photo>
</div>

<div class="pager-wrapper handle">
  <div class="flip-btn" [class.flip]="fliped" (click)="flip()">{{flipText}}</div>
  <div></div>
  <div class="btn" (click)=goToPage(1)>|&lt;</div>
  <div class="btn" (click)="goToPage(page - 1)">&lt;</div>
  <div class="btn" (click)="goToPage(page + 1)">&gt;</div>
  <div class="btn" (click)=goToLastPage()>&gt;|</div>
</div>

<app-gallery></app-gallery>