<div class="wrapper">
  <div class="handles">
    <div class="btn" (click)="onDelete.emit()">删除</div>
    <div class="btn" (click)="edit()">编辑</div>
    <div class="btn" (mousedown)="showInfo()" (mouseup)="hideInfo()">信息</div>
  </div>
  <div class="grid-gallery v-mid-box four" (click)="goToDetails()" [style.backgroundImage]="grid">
    <p>{{data.AlbumName}}</p>
  </div>
  <div class="info" [class.show]="show">
    <p>{{data.AlbumCreateTime}}创建</p>
    <p>共有{{data.AlbumPhotoCount}}个照片</p>
  </div>
</div>