<div class="pager-wrapper">
  <div class="btn" (click)=goToPage(1)>|&lt;</div>
  <div class="btn" (click)="goToPage(page - 1)">&lt;</div>
  <div class="btn" (click)="goToPage(page + 1)">&gt;</div>
  <div class="btn" (click)=goToLastPage()>&gt;|</div>
</div>

<div class="photos-wrapper" #wrapper>
  <app-one-photo *ngFor="let photo of photos" [data]="photo" (onComplete)="onComplete()" (onDelete)="onDelete()"></app-one-photo>
  <div class="handle" *ngIf="canAdd" (click)="selectFile()"></div>
</div>
<div class="invisible">
  <form #f>
    <input #file type="file" (change)="selectedFile()" multiple>
  </form>
</div>

<div class="pager-wrapper">
  <div class="btn" (click)=goToPage(1)>|&lt;</div>
  <div class="btn" (click)="goToPage(page - 1)">&lt;</div>
  <div class="btn" (click)="goToPage(page + 1)">&gt;</div>
  <div class="btn" (click)=goToLastPage()>&gt;|</div>
</div>