p {
  line-height: 100px;
  font-size: 1.2rem;
  text-indent: 1em;
  color: white;
  cursor: -webkit-grab;
  user-select: none;
}

p.pressing {
  cursor: -webkit-grabbing;
  position: relative;
  left: -5px;
  top: -5px;
  box-shadow: -5px -5px 5px #ffffff;
  background-color: #333;
}