input[type="text"],
input[type="password"],
input[type="number"] {
  outline: none;
  width: 300px;
  height: 25px;
  border: solid 1px blueviolet;
  border-radius: 5px;
  border-left: solid 5px green;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 5px blueviolet;
  border-left: solid 5px blueviolet;
}

textarea {
  outline: none;
  resize: none;
  width: 300px;
  height: 5em;
  border: solid 1px blueviolet;
  border-radius: 5px;
  border-left: solid 5px green;
}

textarea:focus {
  box-shadow: 0 0 5px blueviolet;
  border-left: solid 5px blueviolet;
}

select {
  outline: none;
  user-select: none;
  
  background-image: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;

  border: solid 1px blueviolet;
  border-radius: 5px;
  border-left: solid 5px green;
}

select:focus {
  box-shadow: 0 0 5px blueviolet;
  border-left: solid 5px blueviolet;
}

input[type="button"],
input[type="submit"] {
  outline: none;
  background: white;
  color: black;
  padding: .5em 1.5em;
  border-radius: 5px;
  border: solid 1px #34352C;
}

input[type="button"]:hover:not(*[disabled]),
input[type="submit"]:hover:not(*[disabled]) {
  background: wheat;
  box-shadow: 3px 3px 5px wheat;
}

input[type="button"]:active:not(*[disabled]),
input[type="submit"]:active:not(*[disabled]) {
  box-shadow: 1px 1px 5px wheat;
  position: relative;
  left: 2px;
  top: 2px;
}

fieldset+fieldset {
  margin-top: 1em;
}

h2 {
  margin-top: 5em;
  text-align: center;
}

.center {
  margin: 0 auto;
  width: 330px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(149, 200, 123, 0.8);
}

.buttons {
  margin-top: 1em;
}

.other-button {
  font-size: x-small;
  text-decoration: underline;
  cursor: pointer;
}

.help {
  margin-top: 0.1em;
  font-size: small;
  padding: 0.3em;
  border-radius: 5px;
  background-color: lightcyan;
}

.help-block {
  color: red;
}

.help-suc {
  color: royalblue;
}
