p {
  text-indent: 2em;
  text-align: left;
  width: 800px;
  margin: 0 auto;

  background-color: #BFF87E;

  border: solid 1px #BBFF77;
  border-radius: 1em;

  padding: 2em;

  font-size: 14px;

  position: relative;
}

p:after {
  content: "";

  position: absolute;
  top: 0.5em;
  right: 0.5em;

  width: 1em;
  height: 1em;

  background: url(data:image/gif;base64,R0lGODlhFAAUAJEAAE1NTf///////wAAACH5BAEHAAIALAAAAAAUABQAAAIzBISpK+YMm5Enpodw1HlCfnkKOIqU1VXk55goVb2hi7Y0q95lfG70uurNaqLgTviyyUoFADs=) 50% center no-repeat;
}