.bg {
  z-index: -2;
  background-image: url("../../../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 600px;
}

.blur-bg {
  width: 500px;
  height: 400px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../../../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 600px;
  filter: blur(3px);
}