<div class="screen-wrapper bg v-mid-box">
  <div class="blur-bg"></div>
</div>

<div class="screen-wrapper v-mid-box">
  <div class="center">
    <h2>注册</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <fieldset>
        <legend>用 户 名</legend>
        <input type="text" placeholder="请输入用户名" formControlName="UserName" required>
        <div *ngIf="formErrors.UserName" class="help help-block">{{formErrors.UserName}}</div>
      </fieldset>
      <fieldset>
        <legend>密 码</legend>
        <input type="password" placeholder="请输入密码" formControlName="UserPassword" required>
        <div *ngIf="formErrors.UserPassword" class="help help-block">{{formErrors.UserPassword}}</div>
      </fieldset>
      <fieldset>
        <legend>确 认 密 码</legend>
        <input type="password" placeholder="请再次输入密码" formControlName="UserPasswordConfirmed" required>
        <div *ngIf="formErrors.UserPasswordConfirmed" class="help help-block">{{formErrors.UserPasswordConfirmed}}</div>
      </fieldset>
      <div *ngIf="formErrors.MismatchedPasswords" class="help help-block">{{formErrors.MismatchedPasswords}}</div>
      <fieldset>
        <legend>验 证 码</legend>
        <div class="v-mid-box" style="text-align: left; font-size: 0">
          <input class="short" type="text" placeholder="请输入验证码" formControlName="ImageCaptcha" required>
          <span class="image" (click)="getImageCaptcha()" [style.backgroundImage]="captchaImage"></span>
        </div>
        <div *ngIf="formErrors.ImageCaptcha" class="help help-block">{{formErrors.ImageCaptcha}}</div>
      </fieldset>
      <div class="buttons">
        <input type="submit" [disabled]="loading" value="注册">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <a class="other-button" routerLink="/login">直接登录</a>
      </div>
    </form>
  </div>
</div>