<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="MyApp" packages="">
    <Properties>
        <Property name="fileDirPath">/Users/cls/Dev/Git/personal/infinitely/serveV2/out/log/</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <RollingFile name="RollingFile" fileName="${fileDirPath}log.log"
                     filePattern="${fileDirPath}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="nomax"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>