<div class="bar">
  <input type="text" class="resource-bar" disabled [(ngModel)]="path + clicked"/>
  <button [class.red]="LOCK_MODE !== mode" (click)="lock()" [disabled]="loading">{{LOCK_MODE === mode ? "解锁" : "锁定"}}</button>
</div>

<div class="resource" [class.loading]="loading" (click)="addDir($event)">
  <div class="dir" (dblclick)="fetch('..')" *ngIf="path!==root">..</div>
  <div *ngFor="let file of files" [class.file]="!file.Dir" [class.dir]="file.Dir"
       (click)="append($event, file)"
       (dblclick)="fetch(file.Dir ? file.Name + '/' : null)">{{file.Name}}
  </div>
</div>