.v-mid-box {
  font-size: 0;
  margin-top: 1rem;
}

.label,
.text,
.block,
.text>* {
  font-size: 14px;
}

.text {
  border-bottom: solid 1px green;
}

.text.focused {
  border-color: blue;
}

.text.invalid {
  border-color: red;
  border-width: 2px;
}

.text>input {
  width: 100%;
  outline: none;
  background-color: transparent;
}

.text>select {
  width: 100%;
  outline: none;
  background-color: transparent;
}

.error {
  background-color: #F15555;
  color: #f9f9f9;
  border-radius: .5em;
  padding: .3em 1em;
  margin: 0.5em auto;
  width: 100%;
  font-size: 13px;
}

.title.label {
  width: 3em;
}

.title.text {
  width: calc(50% - 3em);
}

.date.label {
  width: 3em;
}

.date.text {
  width: calc(50% - 8em);
}

.v-mid-box>button {
  margin-left: calc(1em - 2px);
  width: calc(4em + 2px);
  outline: none;
  color: white;
  border-radius: 3px;
  padding: 0 1em;
  -webkit-appearance: button;
  border: 1px solid #0d8e47;
  background-color: #27ae60;
}

.v-mid-box>button:hover {
  background-color: #12a24f;
  border-color: #007d35;
}

.v-mid-box>button:active {
  background-color: #27ae60;
  border-color: #0d8e47;
}

.buttons {
  width: 100%;
  margin-top: 1em;
  text-align: right;
}