<div class="wrapper">
  <img class="btn" src="assets/add.png" alt="添加" width="100px" height="100px" (click)="mask=true">
</div>

<div class="wrapper">
  <table [table]="tableDef" [data]="data"></table>
</div>

<div class="mask" *ngIf="mask">
  <div class="wrapper">
    <div style="overflow: hidden">
      <div class="left">
        <code-res (change)="changeIntf($event)"></code-res>
      </div>
      <div class="right">
        <code-res (change)="changeImpl($event)"></code-res>
      </div>
    </div>

    <div class="buttons">
      <button (click)="add()" [disabled]="loading">添加</button>
      <button (click)="mask=false;loading=false;">取消</button>
    </div>
  </div>
</div>
