.wrapper {
  margin: 1em 1.2em;

  border: solid 1px rgb(222, 222, 222);
  box-shadow: .5em .5em 1em rgb(150, 150, 150);
  
  color: rgb(100, 50, 128);
  text-shadow: .1em .1em rgb(100, 200, 128);
  text-align: center;

  position: absolute;
  width: calc(100% - 2.4em);
  height: calc(100% - 2em);
}
