.table-wrapper {
  height: auto;
  overflow-x: auto;
  margin: 0 auto;
}

table {
  font-size: 16px;
  border-width: 0;
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  overflow: hidden;
}

th {
  cursor: ew-resize;
}

td {
  cursor: ns-resize;
}

th > hr {
  width: calc(100% - 2px);
  height: 2px;
  margin: 0 auto;
  background-color: #000000;
}

.line {
  height: 2px;
  background-color: #000000;
}

tbody > tr > td {
  border-bottom: solid 1px #000000;
}

tbody > tr > td > div {
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btns {
  text-align: center;
}

.btns > * {
  display: inline-block;
  vertical-align: middle;
}

.btns:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}

.btn {
  margin-left: 0.3em;
  border-radius: 0.3em;
  border: solid 1px grey;
  padding: 0.3em 1em;
  cursor: default;
  user-select: none;
  background-color: ghostwhite;
}

.btn:hover {
  border-color: white;
  background-color: blueviolet;
}

.btn:active {
  color: whitesmoke;
  background-color: blue;
}