.v-mid-box {
  font-size: 0;
  margin-top: 1rem;
}

.label,
.text,
.block,
.text>* {
  font-size: 14px;
}

.text {
  border-bottom: solid 1px green;
}

.text.focused {
  border-color: blue;
}

.text.invalid {
  border-color: red;
  border-width: 2px;
}

.text>input {
  width: 100%;
  outline: none;
  background-color: transparent;
}

.text>select {
  width: 100%;
  outline: none;
  background-color: transparent;
}

.error {
  background-color: #F15555;
  color: #f9f9f9;
  border-radius: .5em;
  padding: .3em 1em;
  margin: 0.5em auto;
  width: 100%;
  font-size: 13px;
}

.title.label {
  width: 3em;
}

.title.text {
  width: calc(800px - 3em);
}

.r-level.label {
  width: 5em;
}

.r-level.text {
  width: calc(100% - 5em);
}

.buttons {
  width: 100%;
  margin-top: 1em;
  text-align: right;
}