<form [formGroup]="pageForm">
  <div class="page-wrapper v-mid-box">
    <span class="title label">标题：</span>
    <div class="title text" [class.focused]="titleFocused" [class.invalid]="pageFormErrors.DiaryBookTitle">
      <input type="text" placeholder="请输入标题..." formControlName="DiaryBookTitle" (focus)="titleFocused=true" (blur)="titleFocused=false">
    </div>
  </div>
  <div class="page-wrapper">
    <div *ngIf="pageFormErrors.DiaryBookTitle" class="error">{{pageFormErrors.DiaryBookTitle}}</div>
  </div>
  <div class="page-wrapper v-mid-box">
    <span class="r-level label">资源等级：</span>
    <div class="r-level text" [class.invalid]="pageFormErrors.ResourceLevelId">
      <select formControlName="ResourceLevelId">
        <option *ngFor="let rl of resourceLevels" [value]="rl.ResourceLevelId">{{rl.ResourceLevelName}}</option>
      </select>
    </div>
  </div>
  <div class="page-wrapper">
    <div *ngIf="pageFormErrors.ResourceLevelId" class="error">{{pageFormErrors.ResourceLevelId}}</div>
  </div>
</form>
<div class="page-wrapper">
  <div class="buttons">
    <button (click)="savePage()">保存</button>
    <button (click)="router.navigate(['/page'])">返回</button>
  </div>
</div>