<div class="bar">
  <input type="text" class="resource-bar" disabled [(ngModel)]="path + clicked"/>
  <button (click)="deploy(path + clicked)" [disabled]="loading">部署</button>
</div>

<div class="resource" [class.loading]="loading">
  <div class="dir" (dblclick)="fetch('..')" *ngIf="path!==root">..</div>
  <div *ngFor="let file of files" [class.file]="!file.Dir" [class.dir]="file.Dir"
       (click)="clicked=file.Name;"
       (dblclick)="fetch(file.Dir ? file.Name + '/' : null)">{{file.Name}}
  </div>
</div>

